{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "window": true,
    "performance": true,
    "graphql": true
  },
  "rules": {
    "prettier/prettier": "error",
    "curly": [
      "error",
      "multi-line"
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "if"
      },
      {
        "blankLine": "always",
        "prev": "if",
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": [
          "const",
          "let",
          "var"
        ]
      }
    ],
    "class-methods-use-this": "off",
    "id-length": [
      "error",
      {
        "exceptions": [
          "_",
          "x",
          "y"
        ]
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ],
    "react/static-property-placement": "off",
    "react/state-in-constructor": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}