@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Merriweather');

$font-family-mono: 'Fira Mono', monospace;
$font-family-serif: 'Merriweather', serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

$color-black: #000000;
$color-dark-blue-grey: #2d3e50;
$color-deep-blue: #161f28;
$color-green: #33cc77;
$color-red: #f95252;
$color-white: #ffffff;
$color-yellow: #e5c650;

$size-xxsmall: 8px;
$size-xsmall: 12px;
$size-small: 16px;
$size-base: 24px;
$size-large: 40px;
$size-xlarge: 64px;
$size-xxlarge: 84px;

$max-tablet-size: 768px;

$grid-size: 992px;

$Logo-font-size-small: 12px;
$Logo-padding: 2px;

// Typography

$fontSize-xsmall: 12px;
$fontSize-small: 16px;
$fontSize-medium: 20px;
$fontSize-large: 28px;
$fontSize-xlarge: 36px;
$lineHeight-xsmall: 16px;
$lineHeight-small: 20px;
$lineHeight-medium: 28px;
$lineHeight-large: 36px;
$lineHeight-xlarge: 52px;
$fontFamily: 'proxima-nova', helvetica arial, sans-serif;
$fontWeight-light: 300;
$fontWeight-regular: 400;
$fontWeight-bold: 700;
