@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Merriweather");

$color-black: #000000;
$color-gray: #bbb;
$color-dark-blue-grey: #2d3e50;
$color-deep-blue: #161f28;
$color-green: #33cc77;
$color-leaf-green: #049931;
$color-red: #f95252;
$color-blood-red: #9d252b;
$color-white: #ffffff;
$color-yellow: #e5c650;
$color-olive-yellow: #9d802c;

$size-xxsmall: 0.5em;
$size-xsmall: 0.75em;
$size-small: 1em;
$size-base: 1.25em;
$size-large: 2em;
$size-xlarge: 3em;
$size-xxlarge: 5em;

$max-tablet-size: 768px;

$grid-size: 992px;

$floatingShadow: 0 4px 10px 0 rgba(43, 78, 112, 0.15),
  0 1px 4px 0 rgba(43, 78, 112, 0.1);

$font-family-mono: "Fira Mono", monospace;
$font-family-serif: "Merriweather", serif;
$font-size-xsmall: 0.75em;
$font-size-small: 1em;
$font-size-medium: 1.25em;
$font-size-large: 1.75em;
$font-size-xlarge: 2.25em;
$line-height-xsmall: calc(0.75em * 1.618);
$line-height-small: calc(1em * 1.618);
$line-height-medium: calc(1.25em * 1.618);
$line-height-large: calc(1.75em * 1.618);
$line-height-xlarge: calc(2.25em * 1.618);
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
