@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Merriweather');

$color-black: #000000;
$color-dark-blue-grey: #2d3e50;
$color-deep-blue: #161f28;
$color-green: #33cc77;
$color-red: #f95252;
$color-white: #ffffff;
$color-yellow: #e5c650;

$size-xxsmall: 0.5em;
$size-xsmall: 0.75em;
$size-small: 1em;
$size-base: 1.25em;
$size-large: 2em;
$size-xlarge: 3em;
$size-xxlarge: 5em;

$max-tablet-size: 768px;

$grid-size: 992px;

// Typography

$font-family-mono: 'Fira Mono', monospace;
$font-family-serif: 'Merriweather', serif;
$font-size-xsmall: 0.75em;
$font-size-small: 1em;
$font-size-medium: 1.25em;
$font-size-large: 1.75em;
$font-size-xlarge: 2.25em;
$line-height-xsmall: calc(0.75em * 1.618);
$line-height-small: calc(1em * 1.618);
$line-height-medium: calc(1.25em * 1.618);
$line-height-large: calc(1.75em * 1.618);
$line-height-xlarge: calc(2.25em * 1.618);
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
