@import "../../styles/variables.css";

$padding-vertical: calc(#{$size-xxlarge} + #{$line-height-small});

html {
  font-size: calc(80% + 0.2vw);
}

body {
  width: 100%;

  font-family: $font-family-mono;
  font-weight: $font-weight-regular;

  line-height: 1.5;
}

.Content {
  max-width: 960px;
  padding: $padding-vertical $size-base $size-xlarge $size-base;
  margin: 0 auto;
}
