@import "../../styles/variables.scss";

.Header {
  position: fixed;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: $size-base $size-xxlarge $size-base $size-xxlarge;

  background-color: $color-deep-blue;

  color: white;

  line-height: $line-height-medium;
}

.Header-left {
  justify-content: flex-start;
}

.Header-link {
  color: white !important;

  cursor: pointer;

  text-decoration: none !important;
}

.Header-logo {
  font-family: $font-family-mono;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  vertical-align: text-bottom;
  white-space: nowrap;
}

.Header-sections {
  display: flex;
  flex-direction: row;
}

.Header-sections-responsive {
  display: none;
}

.Header-button {
  margin: 0 auto;

  cursor: pointer;
  outline: none;

  line-height: inherit !important;
}

@media only screen and (min-width: 801px) {
  .Header-link:not(:last-child) {
    margin-right: $size-base;
  }
}

@media only screen and (max-width: 800px) {
  .Header {
    padding-right: $size-base;
    padding-left: $size-base;
  }

  .Header-sections {
    display: none;
  }

  .Header-sections-responsive {
    display: flex;

    flex-direction: column;

    .Header-link {
      margin-top: $size-base;
    }
  }
}
