@import "../../styles/variables.scss";

.Header {
  margin-bottom: 1.45rem;

  background-color: $color-deep-blue;

  h1 {
    margin: 0;
  }
}

.Header-inner {
  max-width: 960px;
  padding: 50px 20px 50px 20px;
  margin: 0 auto;
}

.Header-link {
  color: white !important;

  text-decoration: none !important;
}
