@import "../styles/variables.scss";

body {
  font-family: $font-family-mono;
  font-weight: $font-weight-regular;
}

.Content {
  max-width: 960px;
  margin: 0 auto;
  padding-left: $size-base;
  padding-right: $size-base;
}

@media all and (min-width: 960px) {
  body {
    font-size: $fontSize-small;
    line-height: $lineHeight-medium;
  }

  .Content {
    padding-top: calc(
      #{$size-xxlarge} + (#{$size-base}*2) + #{$lineHeight-medium}
    );
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  body {
    font-size: $fontSize-small;
    line-height: $lineHeight-small;
  }

  .Content {
    padding-top: calc(
      #{$size-xlarge} + (#{$size-base}*2) + #{$lineHeight-small}
    );
  }
}

@media all and (max-width: 599px){
  body {
    font-size: $fontSize-xsmall;
    line-height: $lineHeight-xsmall;
  }

  .Content {
    padding-top: calc(
      #{$size-large} + (#{$size-base}*2) + #{$lineHeight-xsmall}
    );
  }
}
