@import "../styles/variables.scss";

html {
  font-size: calc(80% + 0.5vw);
}

body {
  width: 100%;

  font-family: $font-family-mono;
  font-weight: $font-weight-regular;

  line-height: 1.5;
}

.Content {
  max-width: 960px;
  padding-top: calc(#{$size-xxlarge} + #{$line-height-small});
  padding-right: $size-base;
  padding-left: $size-base;
  margin: 0 auto;
}

section {
  min-height: 300px;
  padding-bottom: $size-xxlarge;
}
